html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: "Poppins" !important;
    
    margin:0;
   width:100%; 
   height:100vh;
    overflow:hidden;
}
svg{
  width: 100%;
  margin-top: -95px;
  float: right;
  margin-right: -200px;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}


  /*logo*/
  .logo{
    width: 20px;
  }

